In [8]:
# Q 1

n = 11
i = 1
while i<n:
    print (i)
    i = i + 1
    if i == 5:
        break
print ("final execution")

1
2
3
4
final execution

In [29]:
# Q2

d = ["excel", "sql", "python", "ml", "ai"]
for i in d:
    print (i)
    if i == "ml":
        break
else :
    print ("ml not found !")

excel
sql
python
ml
ai
ml not found !

In [49]:
# Q3

for even_no in range (2,11,2):
    print (even_no)

2
4
6
8
10

In [56]:
# Q4

for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [1]:
def print_multiplication_tables():
    for i in range(1, 6):  # Loop through numbers 1 to 5
        print(f"Multiplication table for {i}:")
        for j in range(1, 11):  # Multiples from 1 to 10
            print(f"{i} x {j} = {i * j}")
        print()  # New line after each table

# Call the function to print the table
print_multiplication_tables()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [2]:
def print_odd_numbers(max_number):
    number = 1  # Start with the first number

    while number <= max_number:
        if number % 2 == 0:
            number += 1
            continue  # Skip even numbers
        print(number)
        number += 1  # Increment to move to the next number

# Call the function to print odd numbers up to a specified limit
max_number = 20  # You can set this to any upper limit you prefer
print_odd_numbers(max_number)

1
3
5
7
9
11
13
15
17
19